<% if user_signed_in? %>





<div class="nav-item">
  <span class="navbar-text">
    <% if current_user.avatar.attached? %>
  <%= image_tag current_user.avatar, size: "80x60" %>
  <% end %>
    Hello, <%= link_to current_user.name, user_path(current_user) %>
  </span>
</div>


<div id="add_photos">
  <%= form_with model: current_user do |f| %>
  <div>
    <%= f.file_field :photos, multiple: true %>
  </div>

  <div>
    <%= f.submit 'Отправить'%>
  </div>
  <% end %>
</div>


<% else %>
  <div class="nav-item">
  <%= link_to 'Войти', new_user_session_path, class: 'nav-link' %>
</div>
<hr>
Еще нет аккаунта:
<div class="nav-item">
 <%= link_to 'Зарегистрируйтесь', new_user_registration_path, class: 'nav-link' %>
</div>
<% end %>
