<% if current_user.avatar.attached? %>
  <%= image_tag current_user.avatar, size: "80x60" %>
  <% end %>
    <%= link_to current_user.name, user_path(current_user) %>
      <%= link_to 'Редактировать профиль', edit_user_registration_path(current_user) %>
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
  </span>





  <% if current_user.photos.attached? %>
  <% current_user.photos.each do |photo| %>
  <div class="photos">
    <%= image_tag photo, size: '250x200', id: "#{photo.id}" %> 
  </div>
  <% end %>
  <% end %>